extends layout

block content
  h1 Welcome back to CCRUD operation with API hosted on the Cloud in ITMD 544.
  p  by Kethan Mithra
  h2 Intro
  p Hi, and welcome to my website. I have to experiment with various CRUD operations principles in a Node JS Express application because this project allows users to view, add, modify, and remove contact information. To create a contact, users can enter their first and last names, email addresses, and notes. The only information needed to enter data is the first and last names, therefore some validation keeps users from adding or modifying contacts without any content.
  p To access the Contacts Database, please click the link provided below.
  a(href='/contacts/') View Contacts Database
